fastapi
uvicorn
pydantic
pydantic-settings
sqlalchemy
python-dotenv
requests
beautifulsoup4
selenium
webdriver-manager
pypdf
youtube-transcript-api
yt-dlp
chromadb
langchain-chroma
langchain-core
langchain-community
langchain-text-splitters
PyJWT
bcrypt
email-validator
python-multipart