fastapi
uvicorn
pydantic
pydantic-settings
sqlalchemy
python-dotenv
requests
beautifulsoup4
pypdf
youtube-transcript-api
yt-dlp
groq
chromadb
langchain-chroma
langchain-core
langchain-community
langchain-text-splitters
langchain-google-genai
google-generativeai
PyJWT
bcrypt
email-validator
python-multipart